---
- name: Deploy APT source file under /etc/apt/sources.list.d/
  ansible.builtin.template:
    src: "{{ os_family }}/{{ os_distribution }}.sources.j2"
    dest: /etc/apt/sources.list.d/{{ os_distribution }}.sources
    owner: root
    group: root
    mode: "0644"

- name: Ensure /etc/apt/sources.list does not exist (optional)
  ansible.builtin.file:
    path: /etc/apt/sources.list
    state: '{{"absent" if os_debian_remove_sources_list else "file" }}'

- name: 'Run "apt dist-upgrade" to upgrade all OS packages'
  ansible.builtin.apt:
    upgrade: dist
    update_cache: yes
  when: os_debian_dist_upgrade

- name: Check if a reboot is required
  ansible.builtin.stat:
    path: /run/reboot-required
    get_checksum: no
  register: reboot_required_file

- name: Reboot the host, if required
  ansible.builtin.reboot:
  when: reboot_required_file.stat.exists == true

- name: 'Run "apt autoremove" to remove dependencies that are no longer required'
  ansible.builtin.apt:
    autoremove: yes
  when: os_debian_autoremove
