---
- name: Report failure in case of unsupported OS
  tags: os-release
  ansible.builtin.fail:
    msg: This role only supports Debian- or Red Hat-based systems
  when: 'ansible_facts["os_family"] not in ("Debian", "RedHat")'

- name: Configure APT on a Debian-based system
  tags: os-release
  import_tasks: debian.yml
  when: ansible_facts["os_family"] == "Debian"

- name: Configure dnf / yum on a Red Hat-based system
  tags: os-release
  import_tasks: redhat.yml
  when: ansible_facts["os_family"] == "RedHat"

